* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

* text=auto
*.js text
*.css text
*.html text
*.blade.php text
*.vue text
*.json text
*.md text

# すべてのテキストファイルを自動的にLFに変換
* text=auto

# yarn.lockはLFを使用
yarn.lock text eol=lf



/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
